<form action="/contact_form" method="post">
  {% csrf_token %}
    <div class="form-outline" data-mdb-input-init>
        <label class="form-label" for="typeText">Nombre:</label>
        <input type="text" id="typeText" name="customer_name" class="form-control" />
        
      </div>
      <div class="form-outline" data-mdb-input-init>
        <label class="form-label" for="typeEmail">Email:</label>
        <input type="text" name="customer_email" class="form-control" />
        
      </div>
      <div class="form-outline" data-mdb-input-init>
        <label class="form-label" for="textAreaExample">Mensaje:</label>
        <textarea class="form-control" id="textAreaExample" name="message" rows="4"></textarea>
        
      </div>
      <input type="submit" class="btn btn-secondary my-3"  value="Enviar datos">
</form>