footer{
    background-color: rgb(233, 250, 196);
    padding-top: 30px;
    color: brown;
}

.crop-image {
    width: 100%;
    height: 8rem;
    object-fit: cover;
    overflow: hidden;
  }

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.flanboy{
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

/* animacion */

#cont-img-emer {
  position: relative;
  height: 445px; /* Ajusta la altura según tus necesidades */
  overflow: hidden; /* Esto asegurará que la imagen emergente no sea visible hasta que aparezca */
}

/* Estilo para la imagen emergente */
#img-emergente {
  width: 100%;
  animation-name: emergente;
  animation-duration: .5s;
  position: absolute; /* Cambia a absoluto para posicionar con respecto al contenedor */
  bottom: 0; /* Ajusta según la altura de la imagen para que quede oculta inicialmente */
}

@keyframes emergente {
  0% { bottom: -445px; } /* Ajusta según la altura de la imagen */
  100% { bottom: 0; }
}