{% extends 'base.html' %}
{% load static %}
    {% block contenido %}
  <div class="main2">

  
    <div class="container">
      <h1>Listado de Flanes Completo<br><span style="font-size: 0.95em">{{ epigrafe}}</span></h1>
        <div class="row justify-content-md-between justify-content-center">

            {% for flan in all_flanes %}
            <div class="card p-0 my-2" style="width: 18rem">
              <a href="/productos/{{ flan.id }}">
              {% if flan.is_private %}
              <span class="img-insignia"><img src="{% static 'insignia.png ' %}" width="25" alt=""></span>
              {% endif %}                
              
              <img src="{{ flan.image_url }}" class="card-img-top crop-image" alt="...">

              </a>
                <div class="card-body">
                  <h5 class="card-title">{{ flan.name }}</h5>
                  <p class="card-text">
                    {{ flan.description}}
                    
                  </p>
                </div>
                <div class="card-footer">
                  $ {{ flan.precio}}
                </div>
              </div>
              {% endfor %}


        </div>
        

    </div>
  </div>
    {% endblock %}
